---
import Footer from '@/components/Footer'
import Header from '@/components/Header'
import TechnicalDebtModel from '@/components/tools/TechnicalDebtModel.tsx'
import BaseLayout from '@/layouts/BaseLayout.astro'
---

<BaseLayout
  title="Technical debt and change capacity in growing software systems | Ariel Perez"
  description="Interactive model showing how technical debt can grow as systems scale, reducing effective change capacity under different technical debt reduction strategies."
>
  <Header client:load />
  <main>
    <TechnicalDebtModel client:load />
  </main>
  <Footer client:load />
</BaseLayout>
