---
import HomeContent from '@/src/content/home.mdx';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Ariel Perez – Product & Technology Leader</title>
	</head>
	<body class="bg-white text-gray-900 font-sans">
		<main class="min-h-screen flex flex-col items-center justify-center px-4">
			<HomeContent />
		</main>
	</body>
</html>
