---
import '@/styles/global.css'
import '@/styles/tech-colors.css'

import CardItem from '@/components/CardItem.astro'
import CardList from '@/components/CardList.astro'
import CollapsibleCard from '@/components/CollapsibleCard.astro'
import H2 from '@/components/H2.astro'
import Header from '@/components/Header.astro'
import { Content } from '@/content/home.mdx'
import Layout from '@/layouts/default.astro'

const components = {
  h2: H2,
  ul: CardList,
  li: CardItem,
  details: CollapsibleCard
}
---

<Layout>
  <Header />
  <main class="main-content">
    <Content components={components} />
  </main>
</Layout>
