---
import { Seo } from 'astro-seo-meta'

import headshot from '@/assets/headshot.jpg'
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <Seo
      title="Ariel Pérez | Strategic Product & Technology Leadership"
      description="Ariel Pérez builds high-performing, adaptive product & engineering organizations that deliver exceptional value at high velocity."
      keywords={[
        'Product Leadership',
        'Technology Strategy',
        'Engineering Excellence',
        'CPTO',
        'CTO',
        'Organizational Design',
        'Autonomous Teams',
        'Feature Flagging',
        'Data Infrastructure',
        'Product Strategy',
        'Digital Transformation',
        'Technical Advisory'
      ]}
      icon="/favicon.png"
      themeColor="#000000"
      colorScheme="light"
      robots="index, follow"
      facebook={{
        image: headshot.src,
        url: 'https://arielperez.io',
        type: 'website'
      }}
      twitter={{
        image: headshot.src,
        site: '@arielxperez',
        card: 'summary_large_image'
      }}
    />
  </head>
  <body>
    <slot />
  </body>
</html>
